<div class="bg">
  <section>
    <h2>Bouton</h2>
    <button pButton type="button" label="Btn sm" icon="pi pi-check" iconPos="left" class="p-button-sm"></button>
    <button pButton type="button" label="Btn" icon="pi pi-check" iconPos="left" class="p-button"></button>
    <button pButton type="button" label="Btn lg" icon="pi pi-check" iconPos="left" class="p-button-lg"></button>
  </section>
  <section>
    <h2>Float label</h2>
    <span class="p-float-label">
      <input type="text" id="inputtext" pInputText>
      <label for="inputtext">InputText</label>
    </span>
  </section>
  <section>
    <h2>Calendar</h2>
    <p-calendar [showIcon]="true" selectionMode="range" inputId="icon"></p-calendar>
  </section>
  <section>
    <h2>Knob</h2>
    <p-knob [(ngModel)]="valueKnob"></p-knob>
  </section>
  <section>
    <h2>Dropdown basic</h2>
    <p-dropdown [options]="cities" placeholder="Select a City" optionLabel="label" [showClear]="true"></p-dropdown>
  </section>
  <section>
    <h2>Dropdown editable</h2>
    <p-dropdown [options]="cities" [(ngModel)]="citySelect" [editable]="true" optionLabel="label" (onChange)="displaySelect($event.value)"></p-dropdown>
  </section>
  <section>
    <h2>Dropdown filter</h2>
    <p-dropdown [options]="cities" [(ngModel)]="citySelect" optionLabel="label" [filter]="true" filterBy="label" [showClear]="true" placeholder="Select a Country"></p-dropdown>
  </section>


</div>


