<div class="bg">
  <section>
    <h2>Bouton</h2>
    <button pButton type="button" label="Btn sm" icon="pi pi-check" iconPos="left" class="p-button-sm"></button>
    <button pButton type="button" label="Btn" icon="pi pi-check" iconPos="left" class="p-button"></button>
    <button pButton type="button" label="Btn lg" icon="pi pi-check" iconPos="left" class="p-button-lg"></button>
  </section>
  <section>
    <h2>Float label</h2>
    <span class="p-float-label">
      <input type="text" id="inputtext" pInputText>
      <label for="inputtext">InputText</label>
    </span>
  </section>
</div>


